# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.history
# SQLite
backend/data/*.db

# Node/Vite
node_modules/
dist/
.vite/
frontend/node_modules/
frontend/o/
frontend/dist/
frontend/.env

# OS / Editor
.DS_Store
*.log
.idea/
.vscode/
*.pdf
.windsurf/
