@import url("https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css");

:root {
  color: #0f172a;
  background-color: #f8fafc;
  font-family: "Inter", "Segoe UI", "PingFang SC", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  background: #f8fafc;
}
